html, body, div, h1, h2, h3, h4, h5, h6, section { margin: 0; padding: 0; border: 0; }
/* global css fin */
@media screen and (max-width:767px){
    .dbx{
        background: url("../images/DBX_MAIN_MOBAIL.png") no-repeat center;
        background-size: cover; 
    }
    .vantage{
        background: url("../images/VANTAGE_MAIN_MOBAIL.png") no-repeat center;
        background-size: cover;
    }
    .db11{
        background: url("../images/DB11_MAIN_MOBAIL.png") no-repeat center;
        background-size: cover;
    }
    .dbs{
        background: url("../images/DBS_MAIN_MOBAIL.png") no-repeat center;
        background-size: cover;
    }
    .amr{
        background: url("../images/AMR_MAIN_MOBAIL.png") no-repeat center;
        background-size: cover;
    }
    .valkyrie{
        background: url("../images/VALKYRIE_MAIN_MOBAIL.png") no-repeat center;
        background-size: cover;
    }
    .home > .pageContainer section h2,
    .home > .pageContainer section p{
        position: absolute;
    }
    .home > .pageContainer section.active h2,
    .home > .pageContainer section.active p{
        animation-name: text-focus-in;
        animation-duration: 4s;
        animation-timing-function: cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
        animation-iteration-count: 1;
    }
    @keyframes text-focus-in {
        0% {
          -webkit-filter: blur(12px);
                  filter: blur(12px);
          opacity: 0;
        }
        100% {
          -webkit-filter: blur(0px);
                  filter: blur(0px);
          opacity: 1;
        }
      }
    .home > .pageContainer section h2{
        font-size: 9vw; font-weight: 400;
    }
    .home > .pageContainer section:not(:nth-of-type(4)) > h2{left: 4%; top: 80%;}
    .home > .pageContainer section:nth-of-type(4) > h2{text-align: left; left: 4%; top: 73%;}
    .home > .pageContainer section p{
        font-size: 5vw; font-weight: 400; font-style: italic; right:4%; top: 87%;
    }
    .home > .pageContainer section:first-of-type > h2,
    .home > .pageContainer section:first-of-type > p{
        color: #83879c;
    }
    
    .home > .pageContainer section:nth-of-type(2) > h2,
    .home > .pageContainer section:nth-of-type(2) > p{
        color: #4f807d;
    }
    .home > .pageContainer section:nth-of-type(3) > h2,
    .home > .pageContainer section:nth-of-type(3) > p{
        color: #1c3459;
    }
    .home > .pageContainer section:nth-of-type(4) > h2,
    .home > .pageContainer section:nth-of-type(4) > p{
        color: #630e0b;
    }
    .home > .pageContainer section:nth-of-type(5) > h2,
    .home > .pageContainer section:nth-of-type(5) > p{
        color: #182829;
    }
    .home > .pageContainer section:last-of-type > h2,
    .home > .pageContainer section:last-of-type > p{
        color: #54767d;
    }
    /* main fin css */

    /* sub css start */
    .sub1{background-color: #350000;}
    .sub2{background-color: #393535;}
    .sub3{background-color: #5b5f6e;}
    .sub4{background-color: #4d4e52;}
    .sub5{background-color: #97c1c5;}
    .sub6{background-color: #303d43;}
    .sub section .spectArea{text-align: center; position: relative;}
    .sub section .spectArea h2 img{width: 100%;}
    .sub section .spectArea::after{
        content: ""; display: block; visibility: hidden; clear: both;
    }
    .sub section .spectArea > dl{
        width: 33.33%; float: left; position: absolute; top: 0;
        color: white; height: 100%; text-align: center; font-style: italic;
    }
    .sub section .spectArea > dl:nth-of-type(2){left: 33.33%;}
    .sub section .spectArea > dl:last-of-type{left: 66.66%;}
    .sub section .spectArea > dl dt{font-size: 3vw; margin-top: 180%; padding-bottom: 1%;}
    .sub section .spectArea > dl dt small{font-size: 1.5vw;}
    .sub section .spectArea > dl dd{font-size: 1vw; }

    /* section spectArea fin */

    .sub section .mainText{text-align: center; padding: 15px 0; color: white;}
    .sub section .mainText{width: 70%; margin: 0 auto; list-style: none;}
    .sub section .mainText h2 small{
        font-size: 2vw; line-height: 30px; padding-bottom: 20px;
    }
    .sub section .mainText h2{
        font-size: 2.5vw; padding-bottom: 5%;
    }
    .sub section .mainText p{
        font-size: 1.5vw; line-height: 20px; padding-bottom: 2.5%; opacity: 0.8;
    }

    /* section mainText fin */

    .detailIMG{width: 100%;}
    .detailIMG::after{content: ""; display: block; visibility: hidden; clear: both;}
    .detailIMG li{width: 47%; line-height: 0; list-style: none;}
    .detailIMG li img{width: 100%;}
    .detailIMG li:first-of-type{float: left; margin-left: 3%;}
    .detailIMG li:nth-of-type(2){float: right; margin-right: 3%;}
    .detailIMG li:nth-of-type(3){margin-left: 3%; padding-bottom: 7%;}
    .detailIMG li:nth-of-type(4){float: left; margin-left: 3%; padding-bottom: 50px;}
    .detailIMG li:nth-of-type(5),
    .detailIMG li:last-of-type{float: right; margin-right: 3%;}

    /* section detailIMG fin */

    .sub section .detailText{text-align: left; color: white; padding-bottom: 50px;}
    .sub section .detailText dl{width: 70%; margin: 0 auto; list-style: none; padding-bottom: 3%;}
    .sub section .detailText dl dt{font-size: 2vw; line-height: 40px; padding-bottom: 2%;}
    .sub section .detailText dl dd{font-size: 2vw; opacity: 0.8;}

    /* section detailText fin */

    .sub section > ul:last-of-type{width: 100%;}
    .sub section > ul:last-of-type li{width: 94%; margin: 0 auto; line-height: 0; list-style: none;}
    .sub section > ul:last-of-type::after{
        content: ""; display: block; visibility: hidden; clear: both;
    }
    .sub section > ul:last-of-type li:first-of-type img{width: 100%; padding-bottom: 3%;}
    .sub section > ul:last-of-type li:nth-of-type(2) img{float: left;}
    .sub section > ul:last-of-type li:nth-of-type(2) img,
    .sub section > ul:last-of-type li:nth-of-type(3) img{width: 48.5%;}
    .sub section > ul:last-of-type li:nth-of-type(3) img{margin-left: 3%; padding-bottom: 7%;}

    /* sub page fin */
}
/* mobile Using CSS */
@media screen and (min-width:768px) and (max-width:1024px){
    .dbx{
        background: url("../images/DBX_MAIN_MOBAIL.png") no-repeat center;
        background-size: cover; 
    }
    .vantage{
        background: url("../images/VANTAGE_MAIN_MOBAIL.png") no-repeat center;
        background-size: cover;
    }
    .db11{
        background: url("../images/DB11_MAIN_MOBAIL.png") no-repeat center;
        background-size: cover;
    }
    .dbs{
        background: url("../images/DBS_MAIN_MOBAIL.png") no-repeat center;
        background-size: cover;
    }
    .amr{
        background: url("../images/AMR_MAIN_MOBAIL.png") no-repeat center;
        background-size: cover;
    }
    .valkyrie{
        background: url("../images/VALKYRIE_MAIN_MOBAIL.png") no-repeat center;
        background-size: cover;
    }
    .home > .pageContainer section h2,
    .home > .pageContainer section p{
        position: absolute;
    }
    .home > .pageContainer section.active h2,
    .home > .pageContainer section.active p{
        animation-name: text-focus-in;
        animation-duration: 4s;
        animation-timing-function: cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
        animation-iteration-count: 1;
    }
    @keyframes text-focus-in {
        0% {
          -webkit-filter: blur(12px);
                  filter: blur(12px);
          opacity: 0;
        }
        100% {
          -webkit-filter: blur(0px);
                  filter: blur(0px);
          opacity: 1;
        }
      }
    .home > .pageContainer section h2{
        font-size: 9vw; font-weight: 400;
    }
    .home > .pageContainer section:not(:nth-of-type(4)) > h2{left: 4%; top: 80%;}
    .home > .pageContainer section:nth-of-type(4) > h2{text-align: left; left: 4%; top: 73%;}
    .home > .pageContainer section p{
        font-size: 5vw; font-weight: 400; font-style: italic; right:4%; top: 87%;
    }
    .home > .pageContainer section:first-of-type > h2,
    .home > .pageContainer section:first-of-type > p{
        color: #83879c;
    }
    
    .home > .pageContainer section:nth-of-type(2) > h2,
    .home > .pageContainer section:nth-of-type(2) > p{
        color: #4f807d;
    }
    .home > .pageContainer section:nth-of-type(3) > h2,
    .home > .pageContainer section:nth-of-type(3) > p{
        color: #1c3459;
    }
    .home > .pageContainer section:nth-of-type(4) > h2,
    .home > .pageContainer section:nth-of-type(4) > p{
        color: #630e0b;
    }
    .home > .pageContainer section:nth-of-type(5) > h2,
    .home > .pageContainer section:nth-of-type(5) > p{
        color: #182829;
    }
    .home > .pageContainer section:last-of-type > h2,
    .home > .pageContainer section:last-of-type > p{
        color: #54767d;
    }
    /* main fin css */

    /* sub css start */
    .sub1{background-color: #350000;}
    .sub2{background-color: #393535;}
    .sub3{background-color: #5b5f6e;}
    .sub4{background-color: #4d4e52;}
    .sub5{background-color: #97c1c5;}
    .sub6{background-color: #303d43;}
    .sub section .spectArea{text-align: center; position: relative;}
    .sub section .spectArea h2 img{width: 100%;}
    .sub section .spectArea::after{
        content: ""; display: block; visibility: hidden; clear: both;
    }
    .sub section .spectArea > dl{
        width: 33.33%; float: left; position: absolute; top: 0;
        color: white; height: 100%; text-align: center; font-style: italic;
    }
    .sub section .spectArea > dl:nth-of-type(2){left: 33.33%;}
    .sub section .spectArea > dl:last-of-type{left: 66.66%;}
    .sub section .spectArea > dl dt{font-size: 3vw; margin-top: 180%; padding-bottom: 1%;}
    .sub section .spectArea > dl dt small{font-size: 1.5vw;}
    .sub section .spectArea > dl dd{font-size: 1vw; }

    /* section spectArea fin */

    .sub section .mainText{text-align: center; padding: 70px 0; color: white;}
    .sub section .mainText{width: 70%; margin: 0 auto; list-style: none;}
    .sub section .mainText h2 small{
        font-size: 2vw; line-height: 80px; padding-bottom: 35px;
    }
    .sub section .mainText h2{
        font-size: 2.5vw; padding-bottom: 5%;
    }
    .sub section .mainText p{
        font-size: 1.5vw; line-height: 20px; padding-bottom: 2.5%; opacity: 0.8;
    }

    /* section mainText fin */

    .detailIMG{width: 100%;}
    .detailIMG::after{content: ""; display: block; visibility: hidden; clear: both;}
    .detailIMG li{width: 47%; line-height: 0; list-style: none;}
    .detailIMG li img{width: 100%;}
    .detailIMG li:first-of-type{float: left; margin-left: 3%;}
    .detailIMG li:nth-of-type(2){float: right; margin-right: 3%;}
    .detailIMG li:nth-of-type(3){margin-left: 3%; padding-bottom: 7%;}
    .detailIMG li:nth-of-type(4){float: left; margin-left: 3%; padding-bottom: 100px;}
    .detailIMG li:nth-of-type(5),
    .detailIMG li:last-of-type{float: right; margin-right: 3%;}

    /* section detailIMG fin */

    .sub section .detailText{text-align: left; color: white; padding-bottom: 100px;}
    .sub section .detailText dl{width: 70%; margin: 0 auto; list-style: none; padding-bottom: 3%;}
    .sub section .detailText dl dt{font-size: 2vw; line-height: 40px; padding-bottom: 2%;}
    .sub section .detailText dl dd{font-size: 2vw; opacity: 0.8;}

    /* section detailText fin */

    .sub section > ul:last-of-type{width: 100%;}
    .sub section > ul:last-of-type li{width: 94%; margin: 0 auto; line-height: 0; list-style: none;}
    .sub section > ul:last-of-type::after{
        content: ""; display: block; visibility: hidden; clear: both;
    }
    .sub section > ul:last-of-type li:first-of-type img{width: 100%; padding-bottom: 3%;}
    .sub section > ul:last-of-type li:nth-of-type(2) img{float: left;}
    .sub section > ul:last-of-type li:nth-of-type(2) img,
    .sub section > ul:last-of-type li:nth-of-type(3) img{width: 48.5%;}
    .sub section > ul:last-of-type li:nth-of-type(3) img{margin-left: 3%; padding-bottom: 7%;}

    /* sub page fin */
}
/* tablet Using CSS */
@media screen and (min-width:1024px){
    .dbx{
        background: url("../images/DBX_MAIN.png") no-repeat center;
        background-size: cover; 
    }
    .vantage{
        background: url("../images/VANTAGE_MAIN.png") no-repeat center;
        background-size: cover;
    }
    .db11{
        background: url("../images/DB11_MAIN.png") no-repeat center;
        background-size: cover;
    }
    .dbs{
        background: url("../images/DBS_MAIN.png") no-repeat center;
        background-size: cover;
    }
    .amr{
        background: url("../images/AMR_MAIN.png") no-repeat center;
        background-size: cover;
    }
    .valkyrie{
        background: url("../images/VALKYRIE_MAIN.png") no-repeat center;
        background-size: cover;
    }
    .home > .pageContainer section h2,
    .home > .pageContainer section p{
        position: absolute;
    }
    .home > .pageContainer section.active h2,
    .home > .pageContainer section.active p{
        animation-name: text-focus-in;
        animation-duration: 4s;
        animation-timing-function: cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
        animation-iteration-count: 1;
    }
    @keyframes text-focus-in {
        0% {
          -webkit-filter: blur(12px);
                  filter: blur(12px);
          opacity: 0;
        }
        100% {
          -webkit-filter: blur(0px);
                  filter: blur(0px);
          opacity: 1;
        }
      }
    .home > .pageContainer section h2{
        font-size: 9vw; font-weight: 400;
    }
    .home > .pageContainer section:first-of-type > h2,
    .home > .pageContainer section:nth-of-type(3) > h2{right: 4%; top: 70%;}
    .home > .pageContainer section:nth-of-type(2) > h2,
    .home > .pageContainer section:nth-of-type(5) > h2,
    .home > .pageContainer section:last-of-type > h2{left: 4%; top: 70%;}
    .home > .pageContainer section:nth-of-type(4) > h2{text-align: left; left: 4%; top: 53%;}
    .home > .pageContainer section p{
        font-size: 5vw; font-weight: 400; font-style: italic; right:4%; top: 87%;
    }
    .home > .pageContainer section:first-of-type > h2,
    .home > .pageContainer section:first-of-type > p{
        color: #83879c;
    }
    
    .home > .pageContainer section:nth-of-type(2) > h2,
    .home > .pageContainer section:nth-of-type(2) > p{
        color: #4f807d;
    }
    .home > .pageContainer section:nth-of-type(3) > h2,
    .home > .pageContainer section:nth-of-type(3) > p{
        color: #1c3459;
    }
    .home > .pageContainer section:nth-of-type(4) > h2,
    .home > .pageContainer section:nth-of-type(4) > p{
        color: #630e0b;
    }
    .home > .pageContainer section:nth-of-type(5) > h2,
    .home > .pageContainer section:nth-of-type(5) > p{
        color: #182829;
    }
    .home > .pageContainer section:last-of-type > h2,
    .home > .pageContainer section:last-of-type > p{
        color: #54767d;
    }
    /* main fin css */

    /* sub css start */
    .sub1{background-color: #350000;}
    .sub2{background-color: #393535;}
    .sub3{background-color: #5b5f6e;}
    .sub4{background-color: #4d4e52;}
    .sub5{background-color: #97c1c5;}
    .sub6{background-color: #303d43;}
    .sub section .spectArea{text-align: center; position: relative;}
    .sub section .spectArea h2 img{width: 100%;}
    /* 
    .sub1 section .spectArea{
        background: url(../images/DBX_SUB1.png) no-repeat center;
        background-size: cover; height: 1100px;
    }
    .sub2 section .spectArea{
        background: url(../images/VANTAGE_SUB1.png) no-repeat center;
        background-size: cover;
    }
    .sub3 section .spectArea{
        background: url(../images/DB11_SUB1.png) no-repeat center;
        background-size: cover;
    }
    .sub4 section .spectArea{
        background: url(../images/DBS_SUB1.png) no-repeat center;
        background-size: cover;
    }
    .sub5 section .spectArea{
        background: url(../images/AMR_SUB1.png) no-repeat center;
        background-size: cover;
    }
    .sub6 section .spectArea{
        background: url(../images/VALKYRIE_SUB1.png) no-repeat center;
        background-size: cover;
    } 
    */
    .sub section .spectArea::after{
        content: ""; display: block; visibility: hidden; clear: both;
    }
    .sub section .spectArea > dl{
        width: 33.33%; float: left; position: absolute; top: 0;
        color: white; height: 100%; text-align: center; font-style: italic;
    }
    .sub section .spectArea > dl:nth-of-type(2){left: 33.33%;}
    .sub section .spectArea > dl:last-of-type{left: 66.66%;}
    .sub section .spectArea > dl dt{font-size: 3vw; margin-top: 180%; padding-bottom: 1%;}
    .sub section .spectArea > dl dt small{font-size: 1.5vw;}
    .sub section .spectArea > dl dd{font-size: 1vw; }

    /* section spectArea fin */

    .sub section .mainText{text-align: center; padding: 70px 0; color: white;}
    .sub section .mainText{width: 70%; margin: 0 auto; list-style: none;}
    .sub section .mainText h2 small{
        font-size: 2vw; line-height: 100px; padding-bottom: 70px;
    }
    .sub section .mainText h2{
        font-size: 2.5vw; padding-bottom: 10%;
    }
    .sub section .mainText p{
        font-size: 1vw; line-height: 70px; padding-bottom: 5%; opacity: 0.8;
    }

    /* section mainText fin */

    .detailIMG{width: 100%;}
    .detailIMG::after{content: ""; display: block; visibility: hidden; clear: both;}
    .detailIMG li{width: 47%; line-height: 0; list-style: none;}
    .detailIMG li img{width: 100%;}
    .detailIMG li:first-of-type{float: left; margin-left: 3%;}
    .detailIMG li:nth-of-type(2){float: right; margin-right: 3%;}
    .detailIMG li:nth-of-type(3){margin-left: 3%; padding-bottom: 7%;}
    .detailIMG li:nth-of-type(4){float: left; margin-left: 3%; padding-bottom: 100px;}
    .detailIMG li:nth-of-type(5),
    .detailIMG li:last-of-type{float: right; margin-right: 3%;}

    /* section detailIMG fin */

    .sub section .detailText{text-align: left; color: white; padding-bottom: 100px;}
    .sub section .detailText dl{width: 70%; margin: 0 auto; list-style: none; padding-bottom: 4%;}
    .sub section .detailText dl dt{font-size: 1.5vw; line-height: 60px; padding-bottom: 2%;}
    .sub section .detailText dl dd{font-size: 1.2vw; opacity: 0.8;}

    /* section detailText fin */

    .sub section > ul:last-of-type{width: 100%;}
    .sub section > ul:last-of-type li{width: 94%; margin: 0 auto; line-height: 0; list-style: none;}
    .sub section > ul:last-of-type::after{
        content: ""; display: block; visibility: hidden; clear: both;
    }
    .sub section > ul:last-of-type li:first-of-type img{width: 100%; padding-bottom: 3%;}
    .sub section > ul:last-of-type li:nth-of-type(2) img{float: left;}
    .sub section > ul:last-of-type li:nth-of-type(2) img,
    .sub section > ul:last-of-type li:nth-of-type(3) img{width: 48.5%;}
    .sub section > ul:last-of-type li:nth-of-type(3) img{margin-left: 3%; padding-bottom: 7%;}

    /* sub page fin */
}
/* desktop Using CSS */